@use '../../styles/tokens' as *;

.footer-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: $corner-small;
  cursor: pointer;

  &--text {
    font-weight: $font-weight-medium;
    font-size: $font-size-label-large;
    color: $color-on-bg-footer;
    text-decoration: none;

    &:hover {
      font-weight: $font-weight-bold;
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &--icon {
    background: $color-bg-footer-low;
    padding: $button-icon;
    border-radius: $corner-full;

    span {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background: $color-bg-footer-lowest;
      border: $color-primary solid 2px;
    }
  }
}
