@use '../../../styles/tokens' as *;

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: $spacing-2;

  &__line {
    flex: 1;
    height: 1px;
    background: $color-outline-variant;
  }

  &__label {
    font-size: $font-size-label-medium;
    font-weight: $font-weight-bold;
    color: $color-on-bg;
  }
}
