@use '../../styles/tokens' as *;

.close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: $button-icon;

  background: $color-white;
  border: 2px solid $color-black;
  color: $color-black;
  border-radius: $corner-full;
  box-shadow: $shadow-level-1;

  cursor: pointer;

  span {
    height: 24px;
  }

  &:hover {
    background: $color-surface;
    border-color: $color-on-primary;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
