@use '../../../../styles/tokens' as *;

.hero {
  width: 100%;
  background-image: url('../../../../assets/icons/hero-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  --shadow-color: #{$color-on-primary};
  padding: $spacing-14 $spacing-15;

  &__content {
    max-width: 640px;
    padding: $spacing-6;
    background: $color-background;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3;

    border-radius: $corner-small;
    border: 3px solid $color-on-primary;

    box-shadow: $shadow-level-3;
  }

  &__title {
    font-size: $font-size-display-large;
    font-weight: $font-weight-bold;
  }

  &__description {
    color: $color-on-bg;
    font-size: $font-size-body-large;
    font-weight: $font-weight-medium;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    padding: $spacing-5 $spacing-9;
    &__content {
      max-width: 480px;
      padding: $spacing-3;
      gap: $spacing-2;
      box-shadow: $shadow-level-2;
      border-width: 2.5px;
    }
    &__title {
      font-size: $font-size-display-medium;
    }

    &__description {
      font-size: $font-size-body-small;
    }
  }
}
@media (max-width: 767px) {
  .hero {
    padding: $spacing-2 $spacing-8;
    &__content {
      max-width: 343px;
      padding: $spacing-3;
      gap: $spacing-2;
      box-shadow: $shadow-level-1;
      border-width: 2px;
    }
    &__title {
      font-size: $font-size-display-small;
    }

    &__description {
      font-size: $font-size-label-medium;
    }
  }
}
